* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
	background-color: #e6eeff;/*Create a light blue background.*/
}
button{
	background-color: #F0F0F0;
	border: 1px solid black;
	cursor: pointer;
	margin: 2px;
}
#container_01{
	position: relative;/*Stack on top of each other for smaller screens.*/
    text-align: center;/*Center all divs placed inside this container.*/
    width: 100%;/*Fill the entire width of the screen.*/
}
#header_center{/*Placed in container 1.*/
	display: inline-block;
	vertical-align: top;
	width: 19%;
}
.logo{/*Placed in header_center.*/
	background-color: #e6eeff;
	font: 36px Palatino Linotype;
	font-weight: bold;
	height: 50px;
	vertical-align: top;
	width: 100%;
}
#admin{
	background-color: #e6eeff;
	height: 50px;
	vertical-align: top;
	width: 100%;
}
.temp{
	background-color: white;
	border: 1px solid black;
	cursor: move;
	display: inline-block;
	height: 100px;
	margin-bottom: 7px;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	visibility: hidden;
	width: 19%;
}
#container_02{
	background-color: #99bbff;/*Create a blue background darker than container 1 and 3.*/
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	position: relative;/*Stack on top of each other for smaller screens.*/
	text-align: center;/*Center all divs placed inside this container.*/
    width: 100%;/*Fill the entire screen.*/
}
#navbar{/*Placed in container 2.*/
	margin: auto;
	min-height: 40px;/*Get no smaller than this.*/
	padding: 10px 0px;
	text-align: center;/*Center all elements placed inside this container.*/
	width: 100%;/*Fill the entire width of the screen.*/
}
.navbar_section{
	display: inline-block;
	vertical-align: top;
	width: 30%;
}
#navbar_section_3{
	width: 8%;
}
.navbar_column{
	display: inline-block;
	vertical-align: top;
}
#btn_stations{
	display: none;
	visibility: hidden;
}
.btn_drawer{
	display: block;
}
#container_03{
	position: relative;/*Stack on top of each other for smaller screens.*/
    text-align: center;/*Center all divs placed inside this container.*/
    width: 100%;/*Fill the entire width of the screen.*/
}
#body{/*Placed in container 3.*/
	margin: auto;
	padding: 10px 0;
	text-align: center;/*Center all elements placed inside this div.*/
}
.station_column{
	display: inline-block;
	text-align: left;
	vertical-align: top;
}
table{
	border: 1px solid black;
	margin: auto;
	margin-top: 10px;
	text-align: left;
}
tr:hover td{
	background-color: #99bbff;/*Highlight using the same color as the navbar.*/
}
td{
  background: transparent;
  border: 1px solid black;
}
th{
	background-color: #ccddff;/*Create a blue background lighter than the navbar.*/
	border: 1px solid black;
	padding: 0px 6px;
}
#div_table{
	display: inline-block;
	height: 700px;
	overflow: scroll;
	width: 35%;
}
.MedID, .MedDescription, .Location, .Vends{
	cursor: move;
}
#div_drawer{
	display: inline-block;
	height: 700px;
	overflow: scroll;
	vertical-align: top;/*Keep all elements flush with the top*/
	width: 65%;
}
.drawer_row{
	text-align: center;/*Center all elements placed inside this div.*/
	width: 100%;
}
.drawer_cell{
	background-color: white;
	border: 1px solid black;
	cursor: move;
	display: inline-block;
	height: 125px;
	margin: 5px;
	overflow-y: scroll;
	padding: 5px;
	text-align: left;
	vertical-align: top;/*Keep all elements flush with the top*/
	width: 23%;
}
.single_cubie{
	background-color: white;
	border: 1px solid black;
	cursor: move;
	display: inline-block;
	height: 125px;
	margin: 5px;
	overflow-y: scroll;
	padding: 5px;
	text-align: left;
	vertical-align: top;/*Keep all elements flush with the top*/
	width: 15%;
}
.double_cubie{
	background-color: white;
	border: 1px solid black;
	cursor: move;
	display: inline-block;
	height: 125px;
	margin: 5px;
	overflow-y: scroll;
	padding: 5px;
	text-align: left;
	vertical-align: top;/*Keep all elements flush with the top*/
	width: 30.8%;
}
.triple_cubie{
	background-color: white;
	border: 1px solid black;
	cursor: move;
	display: inline-block;
	height: 125px;
	margin: 5px;
	overflow-y: scroll;
	padding: 5px;
	text-align: left;
	vertical-align: top;/*Keep all elements flush with the top*/
	width: 46.7%;
}
.double_deep{
	background-color: white;
	border: 1px solid black;
	cursor: move;
	display: inline-block;
	height: 125px;
	margin: 5px;
	overflow-y: scroll;
	padding: 5px;
	text-align: left;
	vertical-align: top;/*Keep all elements flush with the top*/
	width: 32%;
}
.triple_deep{
	background-color: white;
	border: 1px solid black;
	cursor: move;
	display: inline-block;
	height: 125px;
	margin: 5px;
	overflow-y: scroll;
	padding: 5px;
	text-align: left;
	vertical-align: top;/*Keep all elements flush with the top*/
	width: 65%;
}
.two_inch_bin{
	background-color: white;
	border: 1px solid black;
	cursor: move;
	display: inline-block;
	font-size: 14px;
	height: 175px;
	margin: 5px;
	overflow-x: scroll;
	padding: 5px;
	text-align: left;
	vertical-align: top;/*Keep all elements flush with the top*/
	width: 11%;
}
.four_inch_bin{
	background-color: white;
	border: 1px solid black;
	cursor: move;
	display: inline-block;
	height: 325px;
	margin: 5px;
	overflow-y: scroll;
	padding: 5px;
	text-align: left;
	vertical-align: top;/*Keep all elements flush with the top*/
	width: 21%;
}
.six_inch_bin{
	background-color: white;
	border: 1px solid black;
	cursor: move;
	display: inline-block;
	height: 325px;
	margin: 5px;
	overflow-y: scroll;
	padding: 5px;
	text-align: left;
	vertical-align: top;/*Keep all elements flush with the top*/
	width: 30%;
}