/* Naming Conventions:
c = container
The page starts with 4 containers stacked on top of each other.
L = left, C = center, R = right
Each container is split into 3 sections (left, center, right).
r = row
Some divs (left, center, right) have multiple rows. */
*{
	box-sizing: border-box;
}
html{
	/*Create a light blue background.*/
	background-color: #e6eeff;
}
/* #c1, #c1_L, #c1_C, #c1_R,
#c3,
#c3_L, #c3_L_r1, #c3_L_r2,
#c3_C, #c3_C_r1, #c3_C_r2,
#c3_R, #c3_R_r1, #c3_R_r2,
#c4{
	border: 0.0625em solid black;
}
#logo{
	border: 0.03125em solid black;
} */
.c1_default{
	margin: 0;
	padding: 0;
	position: relative;
    text-align: center;
    width: 100%;
}
.c1_L_default, .c1_R_default{
	display: inline-block;
	margin: auto;
	min-height: 4.5em;
	position: absolute;
	width: 20%;
}
.c1_L_default, .c3_L_default{left: 0;}
.c1_R_default, .c3_R_default{right: 0;}
.c1_C_default{
	display: inline-block;
	margin: auto;
	min-height: 4.5em;
	padding: 0;
	position: relative;
	width: 60%;
}
.logo_default{
	font-size: 3em;
	width: 100%;
}
.c2_default{
	/*Create a blue background darker than container_01 and container_03.*/
	background-color: #99bbff;
	border-bottom: 0.0625em solid black;
	border-top: 0.0625em solid black;
	margin: 0.3125em 0.3125em 0.3125em 0;
	position: relative;
	text-align: center;
    width: 100%;
}
.navbar_default{
	margin: auto;
	height: 2.5em;
	padding: 0.625em;
	text-align: center;
	width: 60%;
}
.c3_default{
	margin: 0;
	padding: 0;
	position: relative;
    text-align: center;
    width: 100%;
}
.c3_L_default, .c3_R_default{
	display: inline-block;
	margin: auto;
	height: 30em;
	position: absolute;
	width: 19.75%;
}
.c3_L_r1_default{
	border: 0.003125em solid black;
	font-size: 2em;
	padding: 0.3125em;
	text-align: left;
}
.c3_C_default{
	display: inline-block;
	height: 30em;
	position: relative;
	text-align: center;
	width: 60%;
}
.c3_C_r1_default{
	border-left: 0.0625em solid black;
	border-right: 0.0625em solid black;
	border-top: 0.0625em solid black;
}
.c3_C_r2_default{
	border-bottom: 0.0625em solid black;
	border-left: 0.0625em solid black;
	border-right: 0.0625em solid black;
	height: 26.25em;
	overflow: scroll;
}
.c4_default{
	margin: 0;
	position: relative;
    text-align: center;
    width: 100%;
}