/* Naming Conventions:
c = container
The page starts with 4 containers stacked on top of each other.
L = left, C = center, R = right
Each container is split into 3 sections (left, center, right).
r = row
Some divs (left, center, right) have multiple rows. */
*{
	box-sizing: border-box;
}
/* #c1, #c1_L, #c1_C, #logo, #c1_R,
#c3,
#c3_L, #c3_L_r1, #c3_L_r2,
#c3_C, #c3_C_r1, #c3_C_r2,
#c3_R, #c3_R_r1, #c3_R_r2,
#c4{
	border: 1px solid black;
} */
#c1{
	margin: 5px 5px 5px 0px;
	padding: 5px;
	position: relative;
    text-align: center;
    width: 100%;
}
#c1_L, #c1_R{
	display: inline-block;
	font-size: 48px;
	margin: auto;
	min-height: 80px;
	position: absolute;
	top: 5px;
	width: 19.5%;
}
#c1_L, #c3_L{left: 5px;}
#c1_R, #c3_R{right: 5px;}
#c1_C{
	display: inline-block;
	margin: auto;
	min-height: 80px;
	padding: 5px;
	position: relative;
	width: 60%;
}
#logo{
	margin: auto;
	min-height: 70px;
	width: 100%;
}
#c2{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	margin: 5px 5px 5px 0px;
	position: relative;
	text-align: center;
    width: 100%;
}
#navbar{
	font-size: 24px;
	margin: auto;
	height: 40px;
	padding: 10px;
	text-align: center;
	width: 60%;
}
#c3{
	margin: 5px 5px 5px 0px;
	padding: 5px;
	position: relative;
    text-align: center;
    width: 100%;
}
#c3_L, #c3_R{
	display: inline-block;
	font-size: 48px;
	margin: auto;
	height: 475px;
	position: absolute;
	top: 5px;
	width: 19.5%;
}
#c3_C{
	display: inline-block;
	height: 475px;
	position: relative;
	text-align: center;
	width: 60%;
}
#c3_C_r1{
	font-size: 48px;
}
#c3_C_r2{
	font-size: 48px;
	height: 420px;
	overflow: scroll;
}
#c4{
	font-size: 48px;
	margin: 5px 5px 5px 0px;
	position: relative;
    text-align: center;
    width: 100%;
}