#c1, #c1_L, #c1_R, #c2, #c3_L, #c3_R, #c4{
	display: none;
}
table, th, td{
	background-color: white;
	border: 1px solid black;
}
th{
	border: none;
}
.empty_row, .delete, .sqty, .sqty_order, .uom, .uom_order{
	display: none;
}
.items, .qty, .source, .sqty, .uom, .itemnum, .desc, .btn_delete{
	background-color: none;
	border: none;
}
.items, .qty{
	width: 75px;
}
.source, .source_order{
	width: 50px;
}
.sqty, .sqty_order{
	width: 100px;
}
.uom, .itemnum, .item_order{
	width: 110px;
}
.desc, .desc_order{
	width: 400px;
}
.location{
	display: visible;
}
#btn_print{
	display: none;
}