/* tr:hover input{
	background-color: #ccddff;
} */
.btn_delete{
	height: 1.6em;
	width: 75%;
}
.delete{
  border: none;
  opacity: 1;
}
.source, .source_order{
	width: 50px;
}
.sqty, .sqty_order{
	display: none;
	width: 100px;
}
.itemnum{
	width: 110px;
}
.item_order, .uom{
	width: 120px;
}
.desc, .desc_order{
	width: 300px;
}
#login{
	margin-left: 10px;
	width: 75px;
}
a{
	color: black;
	text-decoration: none;
}
.submit_admin, .submit_coupa{
	position: fixed;
	top: 139px;
}
.location{
	display: none;
	width:  110px;
}